* {
  margin: 0;
  padding: 0; }

ul, ol {
  list-style: none; }

a {
  color: inherit;
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: inherit; }

.clearfix::after {
  content: "";
  display: block;
  clear: both; }

* {
  box-sizing: border-box; }

*::before {
  box-sizing: border-box; }

*::after {
  box-sizing: border-box; }

body {
  font-size: 16px; }

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden; }

div.app {
  background-color: rgba(0, 0, 0, 0.4); }
  div.app > div.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px; }
    div.app > div.logo > div.icon-wrapper {
      margin-right: 6px; }
      div.app > div.logo > div.icon-wrapper > .icon {
        width: 20px;
        height: 20px;
        fill: #E50113; }
    div.app > div.logo > h1 {
      font-size: 16px;
      line-height: 18px;
      color: #fff; }
