* {
  margin: 0;
  padding: 0; }

ul, ol {
  list-style: none; }

a {
  color: inherit;
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: inherit; }

.clearfix::after {
  content: "";
  display: block;
  clear: both; }

* {
  box-sizing: border-box; }

*::before {
  box-sizing: border-box; }

*::after {
  box-sizing: border-box; }

body {
  font-size: 16px; }

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden; }

div.app {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
  border-top: 0.1px;
  position: relative; }
  div.app > div.logo {
    position: absolute;
    top: 12px;
    left: 10px;
    width: 100px;
    height: 17px;
    background: url("../../img/logo.png") center center no-repeat;
    background-size: cover; }
  div.app > div.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px; }
    div.app > div.wrapper > div.record {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 296px;
      height: 296px;
      background: url("../../img/disc-ip6.png") center center no-repeat;
      background-size: cover; }
      div.app > div.wrapper > div.record > div.pause {
        width: 56px;
        height: 56px;
        background: url("../../img/pause.png") center center no-repeat;
        background-size: cover;
        display: none; }
        div.app > div.wrapper > div.record > div.pause.active {
          display: block; }
    div.app > div.wrapper > div.play {
      position: absolute;
      top: 0;
      left: 173px;
      width: 96px;
      height: 137px;
      background: url("../../img/needle-ip6.png") center center no-repeat;
      background-size: cover; }
