@import './reset.scss';
@mixin flex($justifyContent, $alignItems) {
    display: flex;
    justify-content: $justifyContent;
    align-items: $alignItems;
}

@mixin widthHeight($width, $height) {
    width: $width;
    height: $height;
}

@mixin posTopLeft($type, $top, $left) {
    position: $type;
    top: $top;
    left: $left;
}

@mixin font-line($fontSize, $lineHeight) {
    font-size: $fontSize;
    line-height: $lineHeight;
}

.page {
    height: 100vh;
    @include flex(none, none);
    flex-direction: column;
    >header {
        @include flex(flex-start, center);
        padding: 20px 0 20px 20px;
        background-color: #C72E2E;
        cursor: pointer;
        .icon {
            @include widthHeight(30px, 30px);
            fill: #fff;
        }
        h1 {
            @include font-line(26px, 30px);
            color: #fff;
        }
    }
    section {
        flex: 1;
        @include flex(none, none);
        aside {
            width: 200px;
            background-color: #F5F5F7;
            color: #A4A4A5;
            @include flex(none, none);
            flex-direction: column;
            h2 {
                @include font-line(20px, 36px);
                padding: 8px 12px;
                color: #131414;
                border-bottom: 1px solid #999;
            }
            >.songList {
                flex: 1;
                overflow: auto;
                &::-webkit-scrollbar {
                    display: none;
                }
                >li {
                    @include font-line(16px, 28px);
                    padding: 6px 16px;
                    transition: all 0.2s;
                    cursor: pointer;
                    border-left: 2px solid transparent;
                    &.active {
                        border-left: 2px solid #C62F2F;
                        background-color: #E8E9EC;
                        color: #131414;
                    }
                }
            }
            >.newSong {
                @include flex(flex-start, center);
                @include font-line(18px, 36px);
                color: #131414;
                padding: 9px 12px;
                border-top: 1px solid #999;
                cursor: pointer;
                transition: all 0.3s;
                &:hover{
                    color: #fff;
                    background-color: #C62F2F;
                }
            }
        }
        main {
            flex: 1;
            @include flex(none, none);
            background-color: #FAFAFA;
            >.uploadArea {
                @include flex(center, center);
                @include widthHeight(740px, 340px);
                @include font-line(20px, 40px);
                margin: 60px auto 0;
                flex-direction: column;
                border: 2px dashed #ddd;
                border-radius: 20px;
                position: relative;
                color: #000;
                cursor: pointer;
                transition: all 0.3s;
                &.deactive{
                    display: none;
                }
                &.active {
                    color: #ccc;
                    cursor: wait;
                }
                >.upload {
                    @include posTopLeft(absolute, calc(100% + 20px), 20px);
                    @include font-line(16px, 30px);
                    border: 1px solid #E1E1E2;
                    padding: 8px 16px;
                    color: #595959;
                    transition: all 0.2s;
                    cursor: pointer;
                    border-radius: 8px;
                    &:hover {
                        background-color: #C62F2F;
                        color: #fff;
                        border: 1px solid transparent;
                    }
                    &.active{
                        background-color: #ccc;
                        color: #666;
                        cursor: wait;
                    }
                }
                >.uploading {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    border-radius: 20px;
                    background-color: rgba(0, 0, 0, 0.2);
                    z-index: 2;
                    @include flex(center, center);
                    display: none;
                    &.active {
                        @include flex(none, none);
                    }
                    >.lds-roller {
                        display: inline-block;
                        position: relative;
                        width: 64px;
                        height: 64px;
                        div {
                            animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
                            transform-origin: 32px 32px;
                            &:after {
                                content: " ";
                                display: block;
                                position: absolute;
                                @include widthHeight(6px, 6px);
                                border-radius: 50%;
                                background: #C62F2F;
                                margin: -3px 0 0 -3px;
                            }
                            @mixin topLeft($top, $left) {
                                top: $top;
                                left: $left;
                            }
                            &:nth-child(1) {
                                animation-delay: -0.036s;
                            }
                            &:nth-child(1):after {
                                @include topLeft(50px, 50px);
                            }
                            &:nth-child(2) {
                                animation-delay: -0.072s;
                            }
                            &:nth-child(2):after {
                                @include topLeft(54px, 45px);
                            }
                            &:nth-child(3) {
                                animation-delay: -0.108s;
                            }
                            &:nth-child(3):after {
                                @include topLeft(57px, 39px);
                            }
                            &:nth-child(4) {
                                animation-delay: -0.144s;
                            }
                            &:nth-child(4):after {
                                @include topLeft(58px, 32px);
                            }
                            &:nth-child(5) {
                                animation-delay: -0.18s;
                            }
                            &:nth-child(5):after {
                                @include topLeft(57px, 25px);
                            }
                            &:nth-child(6) {
                                animation-delay: -0.216s;
                            }
                            &:nth-child(6):after {
                                @include topLeft(54px, 19px);
                            }
                            &:nth-child(7) {
                                animation-delay: -0.252s;
                            }
                            &:nth-child(7):after {
                                @include topLeft(50px, 14px);
                            }
                            &:nth-child(8) {
                                animation-delay: -0.288s;
                            }
                            &:nth-child(8):after {
                                @include topLeft(45px, 10px);
                            }
                        }
                        @keyframes lds-roller {
                            0% {
                                transform: rotate(0deg);
                            }
                            100% {
                                transform: rotate(360deg);
                            }
                        }
                    }
                }
            }
            .editSong {
                flex: 1;
                @include flex(none, none);
                flex-direction: column;
                margin-left: 100px;
                margin-right: 100px;
                display: none;
                &.active{
                    display: flex;
                }
                >header{
                    @include flex(flex-start, center);
                    border-bottom: 1px solid #E1E1E2;
                    padding: 16px 32px;
                    h2 {
                        @include font-line(24px, 30px);
                        color: #131414;
                    }
                    .icon{
                       @include widthHeight(30px, 30px);
                       margin-left: 10px;
                       fill: #ddd;
                    }
                }
                form {
                    @include flex(none, none);
                    flex-direction: column;
                    margin-top: 30px;
                    >.row {
                        @include font-line(16px, 60px);
                        margin-left: 20px;
                        >label {
                            cursor: pointer;
                            >input {
                                @include font-line(16px, 24px);
                                padding: 4px 10px;
                                border-radius: 4px;
                                border: 1px solid #E1E1E2;
                                color: #333;
                                transition: all 0.2s;
                                width: 300px;
                                &:focus {
                                    outline: none;
                                }
                                &:hover {
                                    border-color: #666;
                                }
                            }
                        }
                        >.submit {
                            @include flex(center, center);
                            @include font-line(16px, 30px);
                            border: 1px solid #E1E1E2;
                            border-radius: 6px;
                            padding: 4px 16px;
                            color: #595959;
                            transition: all 0.2s;
                            cursor: pointer;
                            background-color: #fff;
                            margin-top: 14px;
                            margin-left: 52px;
                            &:focus{
                                outline: none;
                            }
                            &:hover {
                                background-color: #C62F2F;
                                color: #fff;
                                border: 1px solid transparent;
                            }
                        }
                    }
                }
            }
        }
    }
}