@import './reset.scss';
@mixin flex($justifyContent, $alignItems) {
    display: flex;
    justify-content: $justifyContent;
    align-items: $alignItems;
}

@mixin widthHeight($width, $height) {
    min-width: $width;
    min-height: $height;
}

@mixin posTopLeft($type, $top, $left) {
    position: $type;
    top: $top;
    left: $left;
}

@mixin fontLineColor($fontSize, $lineHeight, $color) {
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $color;
}

@mixin btn() {
    @include fontLineColor(16px, 30px, #595959);
    border: 1px solid #E1E1E2;
    transition: all 0.2s;
    cursor: pointer;
    &:hover {
        background-color: #C62F2F;
        color: #fff;
        border: 1px solid transparent;
    }
}

.page {
    height: 100vh;
    @include flex(none, none);
    flex-direction: column;
    >header {
        @include flex(flex-start, center);
        padding: 20px 0 20px 20px;
        background-color: #C72E2E;
        cursor: pointer;
        .icon {
            @include widthHeight(30px, 30px);
            fill: #fff;
        }
        h1 {
            @include fontLineColor(26px, 30px, #fff);
        }
    }
    section {
        flex: 1;
        @include flex(none, none);
        >aside {
            width: 200px;
            background-color: #F5F5F7;
            color: #A4A4A5;
            @include flex(none, none);
            flex-direction: column;
            h2 {
                @include fontLineColor(20px, 36px, #131414);
                padding: 8px 12px;
                border-bottom: 1px solid #999;
            }
            >.songList {
                flex: 1;
                overflow: auto;
                &::-webkit-scrollbar {
                    display: none;
                }
                >li {
                    @include fontLineColor(16px, 28px, inherit);
                    padding: 6px 16px;
                    transition: all 0.2s;
                    cursor: pointer;
                    border-left: 2px solid transparent;
                    &.active {
                        border-left: 2px solid #C62F2F;
                        background-color: #E8E9EC;
                        color: #131414;
                    }
                }
            }
            >.newSong {
                @include flex(flex-start, center);
                @include fontLineColor(18px, 36px, #131414);
                padding: 9px 12px;
                border-top: 1px solid #999;
                cursor: pointer;
                transition: all 0.3s;
                &:hover {
                    color: #fff;
                    background-color: #C62F2F;
                }
            }
        }
        >main {
            flex: 1;
            @include flex(center, none);
            background-color: #FAFAFA;
            >.upload-outer {
                @include flex(none, none);
                flex-direction: column;
                &.deactive {
                    display: none;
                }
                >.uploadArea {
                    flex: 1;
                    @include flex(center, center);
                    @include widthHeight(740px, 80px);
                    @include fontLineColor(20px, 40px, #000);
                    margin: 60px auto 0;
                    flex-direction: column;
                    border: 2px dashed #ddd;
                    border-radius: 20px;
                    overflow: hidden;
                    transition: all 0.3s;
                    &.active {
                        color: #ccc;
                        cursor: wait;
                    }
                }
                >.upload {
                    @include btn();
                    width: 98px;
                    padding: 8px 16px;
                    margin: 30px 0 40px;
                    border-radius: 8px;
                    overflow: hidden;
                    &.active {
                        background-color: #ccc;
                        color: #666;
                        cursor: wait;
                    }
                }
            }
            >.editSong {
                flex: 1;
                @include flex(none, none);
                flex-direction: column;
                margin-left: 100px;
                margin-right: 100px;
                display: none;
                &.active {
                    display: flex;
                }
                >header {
                    @include flex(flex-start, center);
                    border-bottom: 1px solid #E1E1E2;
                    padding: 16px 32px;
                    h2 {
                        @include fontLineColor(24px, 30px, #131414);
                    }
                    .icon {
                        @include widthHeight(30px, 30px);
                        margin-left: 10px;
                        fill: #ddd;
                    }
                }
                form {
                    @include flex(none, none);
                    flex-direction: column;
                    margin-top: 30px;
                    >.row {
                        @include fontLineColor(16px, 60px, inherit);
                        margin-left: 20px;
                        >label {
                            cursor: pointer;
                            >input {
                                @include fontLineColor(16px, 24px, #333);
                                padding: 4px 10px;
                                border-radius: 4px;
                                border: 1px solid #E1E1E2;
                                transition: all 0.2s;
                                width: 300px;
                                &:focus {
                                    outline: none;
                                }
                                &:hover {
                                    border-color: #666;
                                }
                            }
                        }
                        >.submit {
                            @include flex(center, center);
                            @include fontLineColor(16px, 30px, #595959);
                            border: 1px solid #E1E1E2;
                            border-radius: 6px;
                            padding: 4px 16px;
                            transition: all 0.2s;
                            cursor: pointer;
                            background-color: #fff;
                            margin-top: 14px;
                            margin-left: 52px;
                            &:focus {
                                outline: none;
                            }
                            &:hover {
                                background-color: #C62F2F;
                                color: #fff;
                                border: 1px solid transparent;
                            }
                        }
                    }
                }
            }
        }
        >div.mask {
            @include flex(center, center);
            @include posTopLeft(fixed, 0, 0);
            width: 100%;
            height: 100%;
            z-index: 2;
            background-color: rgba(200, 200, 200, 0.4);
            display: none;
            &.active{
                display: flex;
            }
            >div.dialog {
                @include flex(none, none);
                flex-direction: column;
                background-color: #fff;
                >header {
                    @include flex(space-between, center);
                    padding: 18px 32px;
                    background-color: #C62F2F;
                    >h2 {
                        @include fontLineColor(20px, 20px, #fff);
                    }
                    >div.close{
                        cursor: pointer;
                        transition: all 0.2s;
                        >.icon {
                            @include widthHeight(20px, 20px);
                            fill: #fff;
                        }
                        &:hover{
                            transform: rotate(90deg);
                        }
                    }
                }
                >div.content {
                    @include flex(center, center);
                    padding: 30px 90px 38px 26px;
                    >div.icon-wrapper {
                        >.icon {
                            @include widthHeight(34px, 34px);
                            fill: #C62F2F;
                        }
                    }
                    >div.prompt {
                        @include fontLineColor(16px, 16px, #686868);
                        margin-left: 18px;
                    }
                }
                >div.action {
                    @include flex(flex-end, center);
                    padding-right: 30px;
                    margin-bottom: 30px;
                    >div {
                        @include btn();
                        padding: 2px 24px;
                        border-radius: 6px;
                        margin: 0 6px;
                    }
                }
            }
        }
    }
}

.uploading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
    @include flex(center, center);
    display: none;
    &.active {
        @include flex(none, none);
    }
    >.lds-roller {
        display: inline-block;
        position: relative;
        width: 64px;
        height: 64px;
        div {
            animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            transform-origin: 32px 32px;
            &:after {
                content: " ";
                display: block;
                position: absolute;
                @include widthHeight(6px, 6px);
                border-radius: 50%;
                background: #C62F2F;
                margin: -3px 0 0 -3px;
            }
            @mixin topLeft($top, $left) {
                top: $top;
                left: $left;
            }
            &:nth-child(1) {
                animation-delay: -0.036s;
            }
            &:nth-child(1):after {
                @include topLeft(50px, 50px);
            }
            &:nth-child(2) {
                animation-delay: -0.072s;
            }
            &:nth-child(2):after {
                @include topLeft(54px, 45px);
            }
            &:nth-child(3) {
                animation-delay: -0.108s;
            }
            &:nth-child(3):after {
                @include topLeft(57px, 39px);
            }
            &:nth-child(4) {
                animation-delay: -0.144s;
            }
            &:nth-child(4):after {
                @include topLeft(58px, 32px);
            }
            &:nth-child(5) {
                animation-delay: -0.18s;
            }
            &:nth-child(5):after {
                @include topLeft(57px, 25px);
            }
            &:nth-child(6) {
                animation-delay: -0.216s;
            }
            &:nth-child(6):after {
                @include topLeft(54px, 19px);
            }
            &:nth-child(7) {
                animation-delay: -0.252s;
            }
            &:nth-child(7):after {
                @include topLeft(50px, 14px);
            }
            &:nth-child(8) {
                animation-delay: -0.288s;
            }
            &:nth-child(8):after {
                @include topLeft(45px, 10px);
            }
        }
        @keyframes lds-roller {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    }
}